
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF3E0;
  color: #333;
}


section {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  background-color: #FF9800 ;
  color: white;
  border: 1px solid #FF9800 ;
  border-radius: 12px;
  padding: 10px;
  font-size: 24px;
  height: 50px;
  
}
p {
  margin-left: 20px; 
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 16px; 
  font-family: 'Arial', sans-serif; 
  font-weight: bold; 
  color: #333; 
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid black;
}


button.btn-primary {
    display: block; 
    margin: auto;   
    margin-top: 20px; 
    margin-bottom: 10px; 
    padding: 15px 30px; 
    text-align: center; 
    background-color:#FF9800 ;
    border: 1px solid #FF9800;
}

form{
  background-color: aliceblue;

}
footer{
  background: #FFF3E0;
  margin-top: auto;
  padding: 5px; 
  
}

