table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
 }
th,td {
    padding: 8px 25px;
    text-align: center;
    margin: auto;
}
h1{
   text-align: center;
}
button{
   text-align: center;
}
form{
  text-align:center;
  width: 70%;
  padding: 25px ;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
tr:nth-child(1) {
background-color: #E1E1E1;
}
tr:nth-child(7) {
background-color: #E1E1E1;
}
tr:nth-child(6) {
background-color: #E1E1E1;
}